<!-- /templates/index.html -->

  <!doctype html>
  <html lang="en">
    <head>
        <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>MyBot</title>
    </head>
    <body>




        <div class="container h-100">
          <div id="heading">
            <img src="/static/logo.jpg"  width="100%" height="auto">
          <div>

          <div class="hero-status visible available">
            <div class="container relative">
                <p class="hero-status-text">WIRTUALNY ASYSTENT PROJEKTÓW UNIJNYCH</p>
            </div>
          </div>

          <div class="row align-items-center h-100">
              <div class="col-md-8 col-sm-12 mx-auto">
                  <div class="h-100 justify-content-center">
                      <div class="chat-container" style="overflow: auto; max-height: 80vh">
                        </br>
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">{{card.card_title}}</h4>
                            <p class="card-text">{{card.text}}</p>
                            <a href={{card.link1}} class="btn btn-info" role="button">{{card.sugestion1}}</a>
                            <a href={{card.link2}} class="btn btn-info" role="button">{{card.sugestion2}}</a>
                          </div>
                        </div>
                          <!-- chat messages -->
                      </div>
                      <form id="target">
                         <input class="input" type="text" value="" placeholder=" Wpisz wiadomość..." id="input_message"/>
                         <input type="submit" hidden>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
      <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
      <script src="{{ url_for('static', filename='custom.js')}}"></script>
    </body>
  </html>
